.DS_Store
node_modules/
dist/
.env
screenshots/full-*/
screenshots/slides-*-*/
screenshots/all-slides-local-*/
scraps/unused-assets-*/
scraps/comparison-text/
exports/
outputs/
portable-node/

# Local Netlify folder
.netlify

# Local Vercel folder
.vercel
