.DS_Store
node_modules/
dist/
.env
screenshots/
screenshots_fhd_*/
scraps/unused-assets-*/
scraps/comparison-text/
exports/
outputs/
portable-node/

# Local Netlify folder
.netlify

# Local Vercel folder
.vercel
